@import 'css/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');


@font-face {
    font-family: "bako";
    src: url("./fonts/BaksoSapi.otf") format("opentype");
}


body {

    font-family: 'bako', 'Roboto', sans-serif;
    //font-family: 'Agdasima', sans-serif;

    background-image: url("/static/img/Gaia (Full Image).PNG");
    background-size: auto; 
    color: rgb(0, 0, 0);
    //background-color: rgb(113, 0, 0);

}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}



[x-cloak] { display: none !important; }

